body{
    min-height: 1vh;
    margin: 0;
    box-sizing: border-box;
    background-color: hsl(36, 100%, 99%);
    font-family: "Inter";
    font-size: 15px;
}
img{
    max-width: 100%;
}
header, main{
    padding: 1rem;
}
header{
    display: flex;
    justify-content: space-between;
}
header nav{
    min-width: 40px;
    background: url("../assets/images/icon-menu.svg");
    background-position: right;
    background-repeat: no-repeat;
}
header nav :nth-child(n){
    display: none;
}

.future h1{
    margin: 1rem 0;
    font-size: 2.75em;
    line-height: .9em;
}
.future p{
    color: hsl(236, 13%, 42%);
}
.future button{
    padding: 1rem 2rem;
    border: none;
    background-color: hsl(5, 85%, 63%);
    font-weight: 800;
    letter-spacing: 5px;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }